<div class="insert-card">
  <form [formGroup]="productForm">
    <div class="full-form">
      <div class="informations">
        <h2>Main Informations</h2>
        <div class="form-group">
          <label for="name" class="form-label">Name of the Product</label>
          <input id="name" class="form-control" type="text" formControlName="name" maxlength="150">
        </div>
        <div class="form-group big">
          <div class="form-group small">
            <label for="stock" class="form-label">Stock</label>
            <input id="stock" class="form-control" type="number" formControlName="stock" [min]="0" [max]="100">
          </div>
          <div class="form-group small">
            <label for="price" class="form-label">Price</label>
            <input id="price" class="form-control" type="number" formControlName="price" [step]="0.25" [min]="0" [max]="50">
          </div>
        </div>
        <h2>Adittional Information</h2>
        <div class="form-group">
          <label for="desc" class="form-label">Description of the Product</label>
          <textarea id="desc" class="form-control area" formControlName="desc"></textarea>
        </div>
      </div>
      <div class="informations">
        <h2>Image</h2>
        <div class="form-group">
          <label for="image" class="form-label">Image of the Product</label>
          <div class="image-button" *ngIf="productForm.get('image')?.value != ''">
            <img [src]="productForm.get('image')?.value">
          </div>
          <input placeholder="Put the url of the image" *ngIf="productForm.get('image')?.value == ''" id="image" class="form-control" type="text" [(ngModel)]="imageUrl" [ngModelOptions]="{standalone: true}">
          <div class="buttons">
            <button (click)="ChangeImageUrl(false)">Clear Image URL</button>
            <button class="select" (click)="ChangeImageUrl(true)">Select Image URL</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="end-buttons">
    <button [routerLink]="'/products'">See all products</button>
    <button class="cancel" (click)="productForm.reset()">Cancel</button>
    <button class="select" (click)="InsertProduct()">Creat product</button>
  </div>
</div>